<p id="notice"><%= notice %></p>

<p>
  <strong>Field:</strong>
  <%= @company_field.field %>
</p>

<%= link_to 'Edit', edit_company_field_path(@company_field) %> |
<%= link_to 'Back', company_fields_path %>
